/*
#009C1C Green
#12669C Blue
#00856A blue Green
#FFFBC7 Yellow
#468200 Dark green



*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Open Sans', 'Book Antiqua', Palatino, serif;
    color: black;
    background: #F0FFF3;
}
main {
    margin: 0 auto;
    line-height: 1.5;
}
h1{
    color: #E8C65B;
    font-family: Alegreya, Helvetica, Arial, sans-serif;
}
#title{
    text-align: center;
    font-size: 6rem;
    padding: 5vh;
    margin: 0;
    background: #378550;
    color: #E8C65B;
}
h2{
    color: #E8C65B;
    text-align: center;
    padding: 5%;
    font-size: 3rem;
    font-family: Alegreya, Helvetica, Arial, sans-serif;
}
.container{
    background: #378550;
    width: 70%;
    padding: 5%;
    margin-bottom: 5%;
    padding: 5%;
    padding-top: 3%
}
.jumbotron-fluid{
    
    width: 70%;
    margin: 5% auto;
    background:  #378550;
    text-align: center;
}
.navbar{
    background: #7B84E8;
    width: 100%;
}
.nav-item{
    width: 31%;
    text-align: center;
}
footer{
    float: left;
    padding: 1vh;
    width: 100%;
    background: #7B84E8;
    text-align: center;
}
footer p{
    width: 15%;
    display: inline-block;
}
footer img:hover{
    background: lightblue;
}
#hamb{
    display: none;
}
.card{
    width:23%;
    margin: 5%;
    display: inline-block;
}
.contact{
    max-width: 750px;
    padding: 5%;
}
#head2C{
    width: 70%;
    background-color: #378550;
    margin: 3% auto;
}
footer span{
    font-size: 2rem;
    color: black;
}

footer span:hover{
    color: #E8C65B;
}
@media all and (max-width: 576px){
    #bar{
        display: none;
    }
    #hamb{
        display: block;
        text-align: center;
    }
    #hamb li{
        list-style: none;
        width: 100%;
        padding: 10px;
    }
    .navbar{
        margin-top: 0;
    }
    
}




















